:root {
  --font: "Jaldi", sans-serif;
  --backGroundColor: #ffffff;
  --colorText: #000000;
  --colorBotton: #6d7e70;
  --colorButtonHover: #000000;
  --backgroundLastsction: #6d7e70;
}

body {
  font-family: var(--font);
  background-color: var(--backGroundColor);
  color: var(--colorText);
}

.web-icon {
  width: 60px;
  height: 60px;
}
