:root{
    --font : "Jaldi", sans-serif;
    --backGroundColor : #FFFFFF;
    --colorText : #000000;
    --colorBotton : #6D7E70;
    --colorButtonHover : #000000 ;
    --backgroundLastsction : #6D7E70;
}

body{
    font-family: var(--font);
    background-color: var(--backGroundColor);
    color: var(--colorText);
}
.section {
  min-height: 100vh;
  background-color: var(--backgroundLastsction);
}

.section-img {
  width: 90%;
  margin-left: 20px;
}

.list li {
  list-style: none;
  margin-bottom: 12px;
}

.list li::before {
  content: "▲";
  margin-right: 10px;
  color: black;
}
