:root {
  --font: "Jaldi", sans-serif;
  --backGroundColor: #ffffff;
  --colorText: #000000;
  --colorBotton: #6d7e70;
  --colorButtonHover: #000000;
  --backgroundLastsction: #6d7e70;
}

body {
  font-family: var(--font);
  background-color: var(--backGroundColor);
  color: var(--colorText);
}
/* nav */

.web-icon {
  width: 60px;
  height: 60px;
}

section div img {
  width: 100%;
  height: auto;
}

section div div p:first-child{
font-size: 60px;
}

section div div p:nth-child(2){
font-size: 90px;
}

section div div button span{
  font-size: 40px;
}