ٍ
:root{
    --font : "Jaldi", sans-serif;
    --backGroundColor : #FFFFFF;
    --colorText : #000000;
    --colorBotton : #6D7E70;
    --colorButtonHover : #000000 ;
    --backgroundLastsction : #6D7E70;
}

body{
    font-family: var(--font);
    background-color: var(--backGroundColor);
    color: var(--colorText);

    
}

/*  start tabs  */

.tab {
  cursor: pointer;
  margin: 0 25px;
  color:var(--colorBotton);
 font-weight: 400;
  position: relative;
  padding-bottom: 6px;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--backgroundLastsction);
}


.tab.active {
  color: #030303;
  --font: "Jaldi", sans-serif;
  --backGroundColor: #ffffff;
  --colorText: #000000;
  --colorBotton: #6d7e70;
  --colorButtonHover: #000000;
  --backgroundLastsction: #6d7e70;
}


/* End tabs  */
/*  product */

.product {
  display: none;
background: rgba(109, 126, 112, 0.03);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
 border-radius: 8px;
  overflow: hidden;
   margin-bottom: 20px;
        margin-right:80px;  

}

.product.show {
  display: block;
}

/* prod */

.prod {
  width: 200px;
  height: 300px;
  margin:auto;   
    background: transparent;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);       
  border-radius: 8px;
  text-align: center;
   overflow: hidden;

}

.prod .box {
  padding: 0;
  overflow:hidden; 
   position: relative;
    height: 180px;
}
.prod .box::before {
  content: attr(data-work);
  background-color:#00000078;
    position: absolute;
  width:calc(50% - 1px) ;
  height:calc(20% - 10px);
    justify-content: center;
    align-items: center;
  color: white;
    display:flex;
  font-size: .5rem; 
top: 75%;
  left: 50%;
   transform: translate(-50%, -50%); 
  overflow: hidden; 
}

.prod img{
      border-radius: 8px; 
}
.prod .box .small-badge {
  position: absolute;
  top: 5px;      
  right: 74%;     
  width: 35px;    
  height: 40px;    
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 0% ; 
}
.product:hover{
    transform: translateY(-6px);
    box-shadow:0 20px 28px rgb(15,15,15,0.06);
}
.text-success{
background: rgba(61, 65, 62, 0.03);
box-shadow: 0px 4px 4px rgba(4, 4, 4, 0.65);
}

/* pagination container */
.pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

/* page numbers */
.page-num {
  width: 30px;
  height: 30px;
  background-color: #6D7E70;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* active page (الأسود) */
.page-num.active {
  background-color: #000;
}

.next-btn {
  background-color: #6D7E70;
  color: #fff;
  padding: 6px 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
/* End  pagination container */
body {
  font-family: var(--font);
  background-color:var(--backgroundLastsction);
  color: var(--colorText);
}
/* nav */

.web-icon {
  width: 60px;
  height: 60px;
}

section div img {
  width: 100%;
  height: auto;
}

section div div p:first-child{
font-size: 60px;
}

section div div p:nth-child(2){
font-size: 90px;
}

section div div button span{
  font-size: 40px;
}



.section {
  min-height: 100vh;
  background-color: #6D7E70;
}

.section-img {
  width: 90%;
  height: auto;
  margin-left: 20px;
}

.list li {
  list-style: none;
  margin-bottom: 12px;
}

.list li::before {
  content: "▲";
  margin-right: 10px;
  color: black;
 } 

 /* maraim */

 
.trending-wrapper {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  text-align: center;     
}

.trending-title {
  font-size: 28px;         
  font-weight: 400;
  max-width: 800px;        
  margin: 0 ;         
}

.trending-subtitle {
  font-size: 18px;
  margin-top: 5px;
  max-width: 1000px;
}


.filters-section {
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.filters-label {
  font-size: 14px;
  font-weight: 500;
  width: 156px;
  height: 40px;
  display: flex;
  align-items: center;
}


.filters-bar {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap; 
}

.filter-box {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
  cursor: pointer;
}


.filter-box.btn {
  box-shadow: none;
  border-radius: 0;
}

.arrow {
    width: 61.85;
    height: 61.85;
    top: 215;
    left: 1845px;
  
}

.plus {
    width: 44;
    height: 40;
  color: #000;
  
  
}

.box-1 {width: 389px; height: 40px;}
.box-2 {width: 411px; height: 40px; }
.box-3 { width: 411px; height: 40px; }
.box-4 { width: 410px; height: 40px; }
.box-5 { width: 395px; height: 40px; }

.filter-box .filter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  font-weight: 400;
  white-space: nowrap;
  padding: 0 10px;
}


.filter-box {
  display: flex;
  justify-content: space-between; /* النص في الوسط، السهم على اليمين */
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}

.arrow {
    width: 61.85;
    height: 61.85;
    top: 215;
    left: 1845px;
}

.plus {
    width: 44;
    height: 40;
  color: #000;
  
}